<div class="main">
    <div class="card big">
        <h1>Daydream Project Submission & Voting!</h1>
        <hr>
        <div class="shirt-right">
            <p class="step">1. Submit what you made this weekend and get your shirt!</p>
            <p class="details"><span style="margin-right: 0.5rem">•</span> You'll need an Itch.io URL and a GitHub URL to submit. <a class="simple-link" href="#">See details</a></p>
        </div>
        <p class="step">2. Vote for your favorite projects at your Daydream to award prizes!</p>
        <p class="details"><span style="margin-right: 0.5rem">•</span> Criteria: Creativity, Enjoyment, Theme, Overall Quality</p>
        <p class="details"><span style="margin-right: 0.5rem">•</span> Theme: Sacrifices Must be Made</p>
        
        <div class="divider"></div>
        
        <p class="email-caption">Enter your email to start:</p>
        <p>(This will send you a magic link; please use the same email you used for the rest of Daydream)</p>
        
        <form class="email-form">
            <input type="email" name="email" placeholder="fiona.hacksworth@hackclub.com" class="email-input" required />
            <button type="submit" class="submit-button">
                <img src="submit.svg" alt="Go">
            </button>
        </form>

    </div>
</div>