<% if signed_in? && current_user.organizer_positions.any? && !params[:controller]&.include?('organize') %>
  <div class="organizer-banner">
    <div class="organizer-content">
      <% current_user.organized_events.each do |event| %>
        You're the event organizer for <%= event.humanized_name || event.name %> - <%= link_to "Manage event here", organize_event_path(event), class: "organizer-link" %>
      <% end %>
    </div>
  </div>
<% end %>

<style>
  .organizer-banner {
    background: #E472AB;
    color: white;
    padding: 0.5rem 1rem;
    z-index: 999999;
  }
  
  .organizer-content {
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 0.9rem;
  }
  
  .organizer-link {
    color: white;
    text-decoration: underline;
    font-weight: 500;
  }
  
  .organizer-link:hover {
    color: white;
    text-decoration: none;
  }
</style>
