<% @progress = :project_info %>

<div class="main">
  <div class="card big">
    <h1>Project Submission</h1>
    <p>How would you like to submit your project?</p>

    <div class="card">
      <h3 style="text-align: left;">
        <%= link_to edit_project_path, class: "project-role-option" do %>
          I will submit the project for my group →
        <% end %>
      </h3>
      <p>You'll create the project submission and can add team members later.</p>
    </div>

    <div class="card" style="margin-top: 2rem;">
      <h3 style="text-align: left;">
        <%= link_to projects_wait_for_invite_path, class: "project-role-option" do %>
          My team member will submit and add me →
        <% end %>
      </h3>
      <p>Someone else on your team will create the submission and invite you to join.</p>
    </div>

    <div class="card" style="margin-top: 2rem; margin-bottom: 1rem;">
      <h3 style="text-align: left;">
        <%= link_to edit_project_path, class: "project-role-option" do %>
          I am solo →
        <% end %>
      </h3>
      <p>You're working on this project by yourself.</p>
    </div>
  </div>
</div>