<h1>Waiting for Team Invite</h1>

<p>You will need to give your email (<%= current_user.email %>) to the submitter on your team to get an invite.</p>

<p>Once they create the project submission, they can add you as a team member using your email address.</p>

<%= render "invite_status" %>

<%= link_to "Back to role selection", projects_select_role_path, class: "btn" %>
